.header-row{
    background-image: url("../Assets/tap-2.jpg");
    background-size: cover;
    background-position: center;
}

.breweries{

    background-color: #EDDDC6;
    height: 300px;
}

.btn{
    border: 6px solid  #CF9239 ;

}

.brewery-type,.search{
    border: 6px solid  #CF9239 ;
    height: 50px;
    background-color: #050B12;
    color: white;
}

.btn-outline-secondary:hover{
    background-color: #CF9239 !important;
    border: 6px solid  #CF9239 ;
}

.search-container{
    background-color: #050B12 ;
}

.map{
    background-color: yellow;
    height: 600px
}

/* Change height with @media */


.results,.footer{
    background-color: #050B12
}

.result{
    height: 300px;
    background-image: url("../Assets/Barrels.jpg");
    background-position: center;
    background-size: cover; 
}

.footer{
    height: 150px;
}




