.header-row{
    background-image: url("../Assets/tap-2.jpg");
    background-size: cover;
    background-position: center;
}

.breweries{

    background-color: #EDDDC6;
    height: 300px;
}

.btn{
    text-decoration: none;
   
    /* color: black;
    transition: 0.2s ; */
    box-shadow: inset 0 0 0 0 #CF9239;
    color: black;
    padding: 10px;
    transition: color .45s ease-in-out, box-shadow .45s ease-in-out;
}

.web{
    transition: color .45s ease-in-out, box-shadow .45s ease-in-out;

}

.web:hover{
    transform: scale(1.1);
    box-shadow: inset 800px 0 0 0 #CF9239;
    color: white; 
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: inset 800px 0 0 0 #CF9239;
    color: white; 
}

.brewery-type,.search{
    border: 6px solid  #CF9239 ;
    height: 50px;
    background-color: #050B12;
    color: white;
}



.btn-outline-secondary:hover{
    background-color: #CF9239 !important;
    border: 6px solid  #CF9239 ;
}

.search-container{
    background-color: #050B12 ;
}

.map{
    height: 600px
}

/* Change height with @media */


.results,.footer{
    background-color: #050B12;
    padding-left: 2%;
    padding-right: 2%;
}



.result{
    height: 400px;
    background-image: url("../Assets/Barrels.jpg");
    background-position: center;
    background-size: cover; 
}

.footer{
    height: 150px;
}



td{
    background-color: #131b24 !important;
 
}


a{
   color: inherit;
   text-decoration: underline;
   font-weight: bold;
   transition: color .45s ease-in-out, box-shadow .45s ease-in-out;
   padding: 10px;
}

a:hover{
    color: inherit;
    transform: scale(1.1);
    box-shadow: inset 150px 0 0 0 #CF9239;
   
}

th,td{
    padding-left: 3% !important;
    padding-right: 3% !important;
}

@media (min-width: 577px) and (max-width: 767.98px){

    tr{
        width: 25%;
    }
    .results,.footer{
        background-color: #050B12;
        padding-left: 0;
        padding-right: 0;
    }
}











