
h1,h2,h3,h4,h5{
    font-family: 'Anton', sans-serif; 
    font-weight: 350;
}
h1{
    font-size: 32pt;
}
h2{
    font-size: 28pt;
}
h3{
    font-size: 24pt;
    color: white;
}
h4{
    font-size: 20pt;
}

h5{
    font-size: 18pt;
}

p, select, form, td, li {
    font-family: 'Outfit', sans-serif; 
    font-size: 13pt;
    font-weight: 250;  
}

.find-brew,.contact{
    color: #CF9239;
}
.brew-info{
    color: white;
}

.location{
    color: white;
}
.foot-text{
    color: #CF9239 !important;
}