.row-1{
    background-color: #050B12;
    height: 90vh;
    background-image: url("../Assets/taps-1.jpg");
    background-position: center;
    background-size: cover;
}

.sm-color-row{
    background-color: #EDDDC6;
    height: 60vh;
}

.row-2{
    background-color: #050B12;
    height: 90vh;
    background-image: url("../Assets/Barrels.jpg");
    background-position: center;
    background-size: cover;
}

.row-3{
    background-color: #050B12;
    height: 90vh;
    background-image: url("../Assets/Beerglass.png");
    background-position: center;
    background-size: cover;
}


